.btn-green {
    background-color: #21BF73; 
    border-radius: 10px;
    padding: 5px 10px; 
    color: white;
    margin-right: 10px; 
    width: auto;
}

.img-logo {
    padding-top: 20px;
    padding-bottom: 20px;
}

.black-text {
    color: black;
    font-family: Poppins;
    transition: color 0.3s, transform 0.3s;
}

.black-text:hover {
    color: #21BF73;
    transform: translateX(10px);
}

.gray-text {
    color: #B7B7B7;
    font-family: Poppins;
}

.sidebar {
    background-color: white;
    min-width: 70px;
}

.title-text {
    font-weight: bold;
    font-size: 2.25rem; 
    font-family: Poppins;
}

.black-title {
    font-weight: bold;
    font-size: 2.25rem; 
    font-family: Poppins;
    color: black;
}

.container-inner {
    background-color: white;
    border-radius: 10px;
    margin: 20px auto;
    width: 95%; 
    max-width: 1350px; 
    min-height: 600px;
    height: auto;
    padding-bottom: 10px;
}

.spacing {
    margin-left: 10px;
}

.top-spacing {
    margin-top: 10px;
}

.right-spacing {
    margin-right: 20px;
}

.green-background {
    background-color: #21BF73;
}

.nama-text {
    color: black;
    font-size: 14px; 
    font-family: Poppins;
}

.poli-text {
    color: #B7B7B7;
    font-size: 14px; 
    font-family: Poppins;
}

.doctor-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.doctor-wrapper img {
    margin-right: 10px;
}

.details {
    flex-grow: 1;
}

.nama-text,
.poli-text {
    margin: 0;
}

.button-wrapper {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.btn-success {
    margin-right: 5px;
}

.table-container {
    background-color: #f8f9fa; 
    padding: 20px; 
    border-radius: 10px; 
    margin-top: 20px; 
}

.table th, .table td {
    vertical-align: middle; 
}

.btn-space {
    margin-right: 5px; 
}

@media (max-width: 1200px) {
    .title-text, .black-title {
        font-size: 2rem; 
    }
}

@media (max-width: 992px) {
    .title-text, .black-title {
        font-size: 1.75rem; 
    }
    .btn-green {
        width: auto; 
        padding: 5px 8px; 
    }
}

@media (max-width: 768px) {
    .title-text, .black-title {
        font-size: 1.5rem; 
    }
    .btn-green {
        width: auto; 
        padding: 5px 8px; 
    }
}

@media (max-width: 576px) {
    .title-text, .black-title {
        font-size: 1.25rem;
    }
    .btn-green {
        width: auto;
        padding: 5px 8px; 
    }
}
