html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2rem; /* Adjusted to rem for better scaling */
    font-weight: bold;
    text-align: center;
    margin: 0.5em 0;
}

h2 {
    font-size: 1.5rem; /* Adjusted to rem for better scaling */
    text-align: center;
    margin: 0.5em 0;
}

.container {
    width: 100%;
    max-width: 480px;
    min-height: 95%;
    margin: 0 auto;
    padding: 10px;
    background-color: #FAF8ED;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.top-section {
    position: relative;
    background-color: #F1F864;
    min-height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.x-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.x-button img {
    width: 15px;
    height: auto;
}

.image-container {
    position: absolute;
    top: 10px;
    left: 5px;
}

.top-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: #21BF73;
}

.section {
    flex-grow: 1;
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.dropdown-container {
    text-align: center;
    margin-bottom: 10px;
}

.dropdown, .input-choice, .input-choice-keluhan {
    width: 100%;
    max-width: 300px;
    background-color: #EFEFEF;
    border-radius: 10px;
    border: none;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

.input-choice {
    margin-bottom: 10px;
}

.input-choice-keluhan {
    min-height: 100px;
    margin-bottom: 10px;
}

.spacing {
    margin-top: 50px;
}

.input-choice::-webkit-input-placeholder,
.input-choice-keluhan::-webkit-input-placeholder {
    text-align: left;
}

.input-choice:-moz-placeholder,
.input-choice-keluhan:-moz-placeholder {
    text-align: left;
}

.input-choice::-moz-placeholder,
.input-choice-keluhan::-moz-placeholder {
    text-align: left;
}

.input-choice:-ms-input-placeholder,
.input-choice-keluhan:-ms-input-placeholder {
    text-align: left;
}

.next-container {
    text-align: center;
    margin-top: auto;
}

.next {
    padding: 10px 20px;
    background-color: #21BF73;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Full width on small screens */
    max-width: 300px;
    margin: 0 auto;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    h1 {
        font-size: 4vw; /* Slightly smaller than before */
    }

    h2 {
        font-size: 3.5vw; /* Slightly smaller than before */
    }

    .container {
        padding: 10px;
    }

    .section {
        padding: 10px;
    }
}

.data-pasien {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}
