body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.name_doctor{
    font-size: 30px;
}

.row{
    background-color: #FAF8ED;
}

.h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #21BF73;
    background-color: #FAF8ED;
}


.h3{
    margin-left: 30px;
    font-size: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 720px;
    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.name{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

.col{
    text-align: flex;
}

.days, .times {
    display: flex;
    justify-content: space-between;
}
.day, .time {
    flex: 1;
}
.card-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}



.header {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #21BF73;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F1F864;
    padding: 10px;
    padding-top: 20px;
    box-shadow:
        0px 12.6px 10px rgba(0, 0, 0, 0.092),
        0px 88px 80px rgba(0, 0, 0, 0.07);
}

.wrapper {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    /* padding: 0px 0px 20px 0px; */
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu {
    width: 32px;
}

@media only screen and (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }
}